<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>404 - Ninetech</title>
</head>
<body>
    <div class="nf-container">
        <figure>
            <img src="/img/logo.png" alt="logo Ninetech">
        </figure>
        <h1>404</h1>
        <p>Oops! al parecer la página que estas buscando no existe.</p>
        <span>Algunos links utiles:</span>
        <div class="nf-links">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos/lista/1">Productos</a></li>
                <% if (locals.isLogged && isLogged == true) { %>
                    <li><a href="/productos/carrito">Carrito</a></li>
                <% } else { %>
                    <li><a href="/users/login">Iniciar sesión</a></li>
                    <li><a href="/users/register">Registrarse</a></li>
                <% } %> 
            </ul>
        </div>
    </div>
</body>
</html>