<footer>
    <figure>
        <a href="/"><img src="/img/logo.png" alt="logo"></a>
    </figure>
    <section class="links">
        <article>
            <ul class="site-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos/lista/1">Productos</a></li>
                <li><a href="mailto:hola@ninetech.com">Contacto</a></li>
            </ul>
        </article>
        <article>
            <ul class="redes">
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </article>
    </section>
</footer>