<header>
    <nav>
        <a href="/"><img src="/img/logo.png" alt="logo"></a>
        <form action="/busqueda" method="GET">
            <input type="text" name="q" id="search" placeholder="Buscar Producto">
            <button type="submit"><i class="fa-solid fa-search"></i></button>
        </form>
        <ul class="desktop">
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos/lista/1">Productos</a></li>
            <% if (locals.userLogged) { %>
                <li><a href="/users/profile"><%= locals.userLogged.nombre %> </a></li>
                <li><a href="/users/logout">Cerrar Sesi贸n</a></li>
            <% } else { %>
                <li><a href="/users/login">Iniciar sesi贸n</a></li>
                <li><a href="/users/register">Crear Cuenta</a></li>
            <% } %> 
            <% if (locals.userLogged && userLogged.role_id == 2) { %>
                <li><a href="/productos/crear">Crear producto</a></li>
            <% } %>
            <% if (locals.userLogged) { %>
                <li><a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <% } %>
        </ul>
        <ul>
            <li><a href="#" id="search-button"><i class="fa-solid fa-search"></i></a></li>
            <li><a href="#" id="toggle-burger"><i class="fa-solid fa-bars"></i></a></li>
            <% if (locals.userLogged) { %>
                <li><a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <% } %>
        </ul>
    </nav>
    <div id="burger-menu">
        <ul class="burger">
            <li><a href="/productos/lista/1">Productos</a></li>
            <% if (locals.userLogged && userLogged.role_id == 2) { %>
                <li><a href="/productos/crear">Crear producto</a></li>
            <% } %>
            <% if (locals.userLogged) { %>
                <li><a href="/users/profile">Perfil</a></li>
                <li><a href="/users/logout">Cerrar Sesi贸n</a></li>
            <% } else { %>
                <li><a href="/users/login">Iniciar sesi贸n</a></li>
                <li><a href="/users/register">Crear Cuenta</a></li>
            <% } %> 
        </ul>
    </div>
</header>
